<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Last name</th>
                        <th>Last name</th>
                        <th>Last name</th>
                        <th>Last fredd</th>
            
            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Youknow</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                        <td>Foo sder</td>
                        <td>Bar djfdfkjdfjkdkfjd ddf</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

