
<div class="page-wrapper">
    <div class="page-inner">        
        <app-sidebar></app-sidebar> <!-- componente sidebar -->
        <div class="page-content-wrapper">           
            <app-header></app-header> <!-- componente header -->
            <app-main>                
            </app-main>
            <!-- <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> -->
            <!-- END Page Content -->
            <!-- <app-footer></app-footer> -->
        </div>
    </div>
</div>
<app-shortcut-menu></app-shortcut-menu>