<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile"> <a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span
                            class="hide-menu">Steave Jobs </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a href="javascript:void()">Account Setting</a></li>
                        <li><a href="javascript:void()">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Principales</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/agenda']" routerLinkActive="active">Agenda </a></li>
                        <li><a [routerLink]="['/reportes']" routerLinkActive="active">Reportes</a></li>                        
                    </ul>
                </li>                                        
                <li class="nav-small-cap">Administración</li>
                <li>
                    <a class="waves-effect waves-dark" [routerLink]="['/clientes']" routerLinkActive="active" aria-expanded="false">
                        <i class="fas fa-heart"></i>
                        <span class="hide-menu"> Clientes
                        </span>
                    </a>                    
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fas fa-map-marker-check"></i>
                        <span class="hide-menu">Catalogo lugares</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/ceremonias']" routerLinkActive="active">Ceremonias </a></li>
                        <li><a [routerLink]="['/banquetes']" routerLinkActive="active">Banquetes</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                        <span class="hide-menu">Catalogo Tipo</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/tipos-ceremonias']" routerLinkActive="active">Ceremonias </a></li>
                        <li><a [routerLink]="['/tipos-lugares']" routerLinkActive="active">Lugares</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fas fa-rings-wedding"></i>
                        <span class="hide-menu">Miscelaneos bodas</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/proveedores']" routerLinkActive="active">Proveedores </a></li>
                        <li><a [routerLink]="['/servicios']" routerLinkActive="active">Servicios</a></li>
                        <li><a [routerLink]="['/productos']" routerLinkActive="active">Productos </a></li>
                        <li><a [routerLink]="['/agencias']" routerLinkActive="active">Agencias</a></li>
                        <li><a [routerLink]="['/paquetes']" routerLinkActive="active">Paquetes </a></li>
                        <li><a [routerLink]="['/horarios']" routerLinkActive="active">horarios</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" [routerLink]="['/comisiones']" routerLinkActive="active" aria-expanded="false">
                        <i class="fas fa-money-check"></i>
                        <span class="hide-menu"> Comisiones
                        </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" [routerLink]="['/usuarios']" routerLinkActive="active" aria-expanded="false">
                        <i class="fas fa-user-chart"></i>
                        <span class="hide-menu"> Usuarios
                        </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" [routerLink]="['/masterfile']" routerLinkActive="active" aria-expanded="false">
                        <i class="fas fa-file-pdf"></i>
                        <span class="hide-menu"> Masterfile
                        </span>
                    </a>
                </li>
                
                <li class="nav-small-cap">Configuración</li>
                <li>                         
                    <a class="waves-effect waves-dark" [routerLink]="['/hoteles']" routerLinkActive="active" aria-expanded="false">
                        <i class="mdi mdi-hotel"></i>
                        <span class="hide-menu"> Hoteles
                        </span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                        <span class="hide-menu">Catalogo</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/divisas']" routerLinkActive="active">Divisas </a></li>
                        <li><a [routerLink]="['/estados']" routerLinkActive="active">Estados</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" [routerLink]="['/parametros']" routerLinkActive="active" aria-expanded="false">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu"> Parametros
                        </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" [routerLink]="['/roles-permisos']" routerLinkActive="active" aria-expanded="false">
                        <i class="fas fa-key"></i>
                        <span class="hide-menu"> Roles/permisos
                        </span>
                    </a>
                </li>                                                                                              
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>